################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DAL/obj
/DAL/bin/Debug/net5.0
